/*
* @Author: 12699
* @Date:   2020-06-08 19:37:00
* @Last Modified by:   12699
* @Last Modified time: 2020-06-11 13:41:06
*/
body{
	background-color: #f3f5f7;
}
.top1{
	width: 100%;
	height: 100px;
	background-color: #fff;
}
.top{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}
.top>img{
	float: left;
	width: 200px;
	height: 100px;
}

.search{
	float: left;
	width: 450px;
	height: 50px;
	font-size: 14px;
	margin: 20px 0 15px 100px;
	border:4px outset #777777; 
	border-right: 0;
	outline-color: #777777; 
}
.top > .box .subimt {
    float: left;
 	width: 50px;
	height: 58px;
    margin: 19.5px 0px;
    background: url(../img/小标签/2.png) center center no-repeat ;
    border: 0;
    outline: 0;
}
.top > .box .subimt:hover{
	box-shadow:0px 5px 5px 0px rgba(118,118,118,0.5);
}
.top>ul{
	float: right;
}
.top>ul>li{
	float: right;
	width: 30px;
	height: 50px;
	margin: 10px 10px;
	text-align: center;
	padding: 5px;
}
.top>ul li img{
	width: 30px;
	height: 30px;
}

.top>ul a{
	color: #777777; 
	font-size: 15px;
}
.top>ul .left:hover{
	outline: 3px solid #facd89;
} 

.top li a:hover{
	color:#eb6100;
}
.nav {
    cursor: pointer;
    width: 1200px;
    margin: 0 auto;
}

.nav li {
	margin-left: 5px;
    width: 165px;
    height: 50px;
    background: #ccc;
    text-align: center;
    line-height: 50px;
}

.nav>ul ul {
    display: none;
    position: absolute;
    left: 20px;
}

.nav>ul ul {
    padding-top: 10px;
    z-index: 1;
}

.nav>ul>li {
    float: left;
    position: relative;
}
.nav>ul>li:hover ul {
    display: block;
}
.nav li:hover {
    background-color: #a0a0a0;
}

.nav li:hover>a {
    color: white;
}
.nav li a{
	color: black;
	font: bold 22px '华文楷体';
}
.nav1{
	width: 100%;
	height: 50px;
	background-color: #ccc;
}
.fenmian img{
	display: block;
	width: 1200px;
	height: 400px;
	margin: 0 auto;
}
.fenmian{
	margin-top: 10px;
	width: 100%;
	height: 400px;
	background:url(../img/背景.jpg);

}
.banner{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	/* z-index: 0; */
}
.banner form{
	width: 210px;
	height: 240px;
	outline: 5px outset #a0a0a0;
	position: absolute;
	bottom: 5px;
	left: 5px;
	text-align: center;
}
.banner form input{
	display: inline-block;
	height: 30px;
}
.banner form .first{
	text-align: center;
	padding: 5px 0;
	font:bolder 30px "华文楷体";
}
.banner form .one{
	width: 180px;
	margin: 5px 0;
}
.banner form .remember{
	height: 20px;
	margin-right: 20px;
	text-align: right;
}
.banner form .remember input{
	height: 15px;
}

.banner form .sub{
	width: 53px;
	height: 40px;
	float: left;
	background-color: #ccc;
	margin: 18px 25px; 
	border: 2px solid black;
	font: bold 15px '华文楷体';
}
.banner form .sub:hover {
    background-color: #a0a0a0;
    color: white;
}
.tuijian{
	width: 1200px;
	margin: 0 auto;
	height: 69px;
	padding-top: 35px;
	padding-bottom: 10px;
	position: relative;
}
.tuijian p{
	width: 180px;
	text-align: center;
	font:bolder 40px '华文楷体' ;
	padding: 2px;
	border: outset 2px #f36134 ;
}
.tuijian>a{
	color:rgba(165,165,165,1);
	position : absolute;
	right: 35px;
	bottom: 30px;
}
.tuijian a:hover{
	color:#00A4FF;
}
.class{
	width: 1200px;
	height: 330px;
	margin: 0 auto;
	padding-bottom: 15px;
	background-color: #f3f5f7;

}
.class .box{
	display: inline-block;
	width: 257.5px;
	height: 310px;
	padding: 10px;
	background:rgba(255,255,255,1);
	box-shadow:0px 2px 5px 0px rgba(118,118,118,0.5);
	float: left;
	margin-right: 30px;
	position: relative;
}
.class>.last{
	margin-right: 0px;
}
.class .box>img{
	width: 257.5px;
	height:155px; 
}
.class .box>p{
	height: 60px;
	display: inline-block;
	width:237.5px;
	color:rgba(5,5,5,1);
	font: bolder 25px '华文楷体';
	line-height:30px; 
	padding: 14px 10px 15px 10px ;
	border-bottom: 1px solid #bfbfbf;

}
.class .box:hover{
	outline: 5px solid #00A4FF;
}
.class .box>.people{
	font-size: 13px;
	color:#999999;
	position: absolute;
	bottom: 20px;
	left: 25px;
}
.class .box .money{
	color: #FF7C2D;
	position: absolute;
	font-size: 25px;
	bottom: 20px;
	right: 10px;
}
.class .box .money>span{
	color: #999999;
	font-size: 15px;
	text-decoration: line-through;
}
.lanmu{
	height: 70px;
	width: 1200px;
	margin: 0 auto;
	padding: 22px 0 8px 0;
	position: relative;
}
.lanmu>p{
	float: left;
	text-align: center;
	border: outset 2px #f3b234 ;
	font: bolder 40px '华文楷体' ;
}
.lanmu>ul{
	float:left;
	width: 400px;
	margin-left: 300px;
	padding-top:15px;  
}
.lanmu li{
	font:bold 25px '华文楷体';
	float: left;
	padding-right: 68px;
}
.lanmu>ul .last{
	padding-right: 0px;
}
.lanmu li>a{
	color:#868686;
}
.lanmu li>a:hover{
	color:#00A4FF;
}
.lanmu>a{
	color:rgba(165,165,165,1);
	position : absolute;
	right: 35px;
	bottom: 30px;
}
.lanmu>a:hover{
	color: #00A4FF;
}
.class>.first{
	width: 585px;
	height: 330px;
	padding: 0;
}
.class>.first img{
	width:100%;
	height: 100%;
}
.publicity{
	width: 1200px;
	height: 300px;	
	margin: 0 auto;
}
.publicity .one{
	height: 100px;
	width: 1200px;
	background:url(../img/bg-title.png) no-repeat center center;
	text-align: center;
	margin-top: 20px;
}
.publicity .one span{
	display: inline-block;
	font:  28px '华文行楷';
	margin-top: 38px;
}
.publicity ul a img{
	float: left;
	width: 80px;
	height: 80px;
}
.publicity ul li{
	float: left;
	padding: 3px;
	width: 245px;
	height: 100px;
	margin: 30px 0 0 40px;	
}
.publicity a span{
	display: inline-block;
	margin-top: 30px;
	float: left;
	color: #000;
	font: bold 20px '黑体';
}
.publicity a p{
	display: inline-block;
	width: 160px
	float: left;
	font:16px '黑体';
	color: #777;
}
.publicity li:hover{
	outline: 3px solid #f8b551;
}
.ending{
	width: 100%;
	height:417px;
	background:rgba(255,255,255,1);
	border-top: 3px solid #00A4FF;
}
.ending img{
	float: left;
	width: 200px;
	height: 100px;
}
.ending .box{
	width: 1200px;
	height:317px;
	margin: 0 auto;
}
.ending .box>.first{
	display: inline-block;
	float: left;
	width: 200px;
	height: 160px;
	margin: 50px 10px 0 40px;
}
.ending .first>a{
	display: inline-block;
	width:120px;
	height:36px;
	line-height:36px;
	text-align: center;
	border: 2px solid #00A4FF;
	color: #00A4FF;
	margin-top:33px;
}
.ending .first>a:hover{
	font-weight : bold;
	border: 3px solid #00A4FF;
}
.ending>.box>ul{
	display: inline-block;
	float: left;
	width: 120px;
	margin: 90px 0 0 80px;
}
.ending>.box>.one{
	margin-left: 120px;
}

.ending>.box li{	
	font: 15px '黑体';	
	margin-top: 10px;
}
.ending>.box>ul a{
	color:#898989;
}
.ending>.box .first2{	
	margin-bottom: 15px;
	font:bold 20px '黑体' ;
	color:#707070;
}
.ending>.box>ul a:hover{
	color: #00A4FF;
}
.ending .line{
	height:100px ;
	width: 1200px;
	margin:0 auto;
	padding-top: 10px;
	border-top:1px solid #bfbfbf;
	text-align: center;
}
.ending .line a{
	color:  #898989;
}
.ending .line a:hover{
	color:  #00A4FF;
}
.ending .line p{
	font:15px '华文楷体';
	color:  #898989;
}

